<!DOCTYPE html>
<html>
        <head>

                <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119933229-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
            
              gtag('config', 'UA-119933229-1');
            </script>
            
            
                <title>Lambda Expressions</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
            </head>
            <body>
                <div class="wrapper">
                    <!-- Sidebar -->
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>Java8 Tutorial</h3>
                        </div>
                
                        <ul class="list-unstyled components">
                            <p>Topics</p>
                            <li class="active">
                                <!--<a href="#/lambda" data-toggle="collapse" aria-expanded="false">Lambda Expressions</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                    <li>
                                        <a href="#">Home 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Home 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Home 3</a>
                                    </li>
                                </ul>-->
                                <a href="#/lambda">Lambda Expession</a>
                            </li>
                            <li>
                                <a href="#">Method References</a>
                            </li>
                            <li>
                                <!--<a href="#/lambda" data-toggle="collapse" aria-expanded="false" >Functional Interfaces</a>
                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                   <li>
                                        <a href="#">Page 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Page 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Page 3</a>
                                    </li>
                                </ul>-->
                                <a href="#/lambda">Functional Interfaces</a>
                            </li>
                            <li>
                                <a href="#/lambda">Default Methods</a>
                            </li>
                            <li>
                                <a href="#">Streams</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="explanation">
                    <h3> JAVA8 </h3>
                    <div class="mid">
                        Java 8 is a revolutionary release of the world's #1 development platform.
                             It includes a huge upgrade to the Java programming model and a coordinated 
                             evolution of the JVM, Java language, and libraries
                        <div class="inner">
                            <h4>Features Of Java 8</h4>
                            <br>
                            <strong>1.Lambda expression −:</strong> It adds functional processing capability to Java and 
                            make program portable and shoter.
                              <br>
                            <strong>2.New tools −:</strong> java 8 new compiler tools and utilities
                             are added like ‘jdeps’ to figure out dependencies.
                             <br>
                             <strong>3.Default method −:</strong>It provide interface to have default method implementation.
                            <br>
                            <strong>4.Method references −:</strong> Using functions as parameter, Method references 
                             Referencing functions by their names &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                             &nbsp; &nbsp; &nbsp; &nbsp; instead of invoking them directly
                            <br>
                            <strong>5.Stream API −:</strong> New stream API to facilitate pipeline processing.
                            
                        </div>     
                    </div>
                    </div>
                </div>
                </body>
                </html>